{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Capitulos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="msapplication-TileColor" content="#2957ba">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>
<style>
    .table {
      background-color: #202020;
      color: #fff;
    }
    .tr {
        background-color: #202020;
        color: #fff;
    }
    .table td{
        background-color: #202020;
      color: #fff;
    }
    .row{
        background-color: #202020;
      color: #fff;
    }
    .btn-danger{
        background-color: black;
        border-color: #fff;
    }
    </style>
<body style="background-color: #202020; color: #fff;">
    <br>
    <h2>Lista de Capitulo</h2>
    <br>
    <ul>
        <div class="container container-fluid">
            <div class="row" >
                <table class="table">
                    <tr>
                        <td>titulo</td>
                        <td>numero</td>
                        <td>fecha_publicacion</td>
                        <td>manga</td>
                        <td colspan="2">Opciones</td>
                    </tr>
                    {% for c in capitulos %}
                    <tr>
                        <td>{{ c.titulo }}</td>
                        <td>{{ c.numero }}</td>
                        <td>{{ c.fecha_publicacion }}</td>
                        <td>{{ c.manga }}</td>
                        <td>
                            <a class="btn btn-danger" href="/verCapitulo/{{c.id}}">Ver</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </ul>
</body>
</html>

{% endblock %}