<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Manga</title>
</head>
<body>
    <h1>{{ manga.nombre_manga.nombreManga }}</h1>
    <p>{{ manga.sinopsis }}</p>

    <h2>Capítuloas</h2>
    <ul>
        {% for capitulo in capitulos %}
            <li>
                <a href="{% url 'manga:detalle_manga' manga.id %}">
                    "{{ capitulo.titulo }}"
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
