{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="msapplication-TileColor" content="#2957ba">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>
<title>Registar información Manga</title>
</head>
<style>
    button {
        background-color: #202020;
        color: #fff;
    }

    button {
        background-color: #202020;
        color: #fff;
    }

    .table {
        background-color: #202020;
        color: #fff;
    }

    .tr {
        background-color: #202020;
        color: #fff;
    }

    .table td {
        background-color: #202020;
        color: #fff;
    }

    .row {
        background-color: #202020;
        color: #fff;
    }

    .btn-danger {
        background-color: black;
        border-color: #fff;
    }
</style>

<body style="background-color: #202020; color: #fff;">
    <br>
    <h2 style="text-align: center;">Información Manga</h2>
    <br>
    <div class="d-flex justify-content-center">
        <div class="card" style="background-color: #161616; color: #fff; border-color: #fff;">
            <br>
            <form class="container" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <div class="d-flex justify-content-start">
                    <button style="width: 70%;" type="submit">Añadir Información</button>
                    <button style="width: 70%;"
                        onclick="window.location.href='{% url 'ConfigMangas' %}'">Cancelar</button>
                </div>
            </form>
            <br>
        </div>
    </div>
    <br>
    <h2>Lista de Mangas</h2>
    <br>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td>Nombre Manga</td>
                    <td>Año</td>
                    <td>tipo subida</td>
                    <td>sinopsis</td>
                    <td>genero</td>
                    <td>estado</td>
                    <td>portada</td>
                    <td colspan="2">Opciones</td>
                </tr>
                {% for m in mangas %}
                <tr>
                    <td>{{ m.nombre_manga }}</td>
                    <td>{{ m.anio_publicacion }}</td>
                    <td>{{ m.tipo_subida }}</td>
                    <td>{{ m.sinopsis }}</td>
                    <td>{{ m.genero }}</td>
                    <td>{{ m.estado }}</td>
                    <td>{{ m.portada }}</td>
                    <td>
                        <a class="btn btn-danger" href="/deleM/{{m.id}}">Borrar</a>
                        <a class="btn btn-danger" href="/updaM/{{m.id}}">Modificar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        <div>
    </div>
</body>
</html>

{% endblock %}
