{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gatsu</title>
  <meta name="trafficjunky-site-verification" content="vnrwaw9t0" />
  <meta name="exoclick-site-verification" content="043e4ac6d429fc45736a2571151745ed">
  <meta name="csrf-token" content="urU5jPKA3HW5bz1XrQhSsSjUuYNtjJn0YjMJ4OSH">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet"
    href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <meta name="msapplication-TileColor" content="#2957ba">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>

<body style="background-color: #202020; color: #fff;">

  <section id="tranding">
    <div class="container">
      <hr>
      <h2 class="text-center section-subheading">Tendencia</h2>
      <hr>
    </div>
    <div class="container">
      <div class="swiper tranding-slider">
        <div class="swiper-wrapper">
          {% for manga in mangas|slice:":5" %}
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="contenido-carrusel">
              <a href="{% url 'manga:detalle_capitulos' manga.id %}">
                <h4>{{ manga.nombre_manga }}</h4>
                {% if manga.average_score %}
                <span class=".Manga_rate"><i class="fas fa-star fa-fw"></i><span>{{ manga.average_score|floatformat:1}}</span></span>
                {% else %}
                <span>Sin nota</span>
                {% endif %}
              </a>
            </div>
            <div class="tranding-slide-img" style="  max-width: 90%;">
              <a href="{% url 'manga:detalle_capitulos' manga.id %}">
                <img src="{{ manga.portada.url }}" alt="{{ manga.nombre_manga }}" class="img-fluid">
              </a>
            </div>
          </div>
          <!-- Slide-end -->
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <hr>

  <h2 style="display: flex; padding-left: 10%;">Recientes</h2>
  <br>

  <div class="container">
    <div class="row">
      {% if mangas %}
      {% for manga in mangas|slice:":12" %}
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
        <a href="{% url 'manga:detalle_capitulos' manga.id %}">
          <!-- Contenido -->
          <img src="{{ manga.portada.url }}" alt="{{ manga.nombre_manga }}" class="thumbnail-image img-fluid">
          <div class="thumbnail-title">
            <h4 class="text-truncate">{{ manga.nombre_manga.nombreManga }}</h4>
          </div>
          {% if manga.average_score %}
          <span class="score"><i class="fas fa-star fa-fw"></i><span>{{ manga.average_score|floatformat:1
              }}</span></span>
          {% else %}
          <span>Sin nota</span>
          {% endif %}
          <span class="book-type badge badge-manga">{{ manga.nombre_manga.mangaka }}</span>
          <span class="demography shounen"> {{ manga.genero }}</span>
        </a>
        <!-- Puedes agregar más campos según tus necesidades -->
      </div>
      {% endfor %}
      {% else %}
      <p>No hay mangas disponibles.</p>
      {% endif %}

    </div>
  </div>

  <hr>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script
    src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/main.js?alt=media&token=ff3947c9-5e68-4be6-8ca1-9bcbc97fa406"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>

{% endblock %}