{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librería Gatsu</title>

    <!-- Enlaces a bibliotecas externas -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/stylesLibreria.css">
    <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Scripts externos -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>

    <!-- Tu script personalizado -->
    <script
        src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/main.js?alt=media&token=ff3947c9-5e68-4be6-8ca1-9bcbc97fa406"></script>

</head>
<script>
    $(document).ready(function () {
        var $grid = $('.grid').isotope({
            itemSelector: '.card',
            layoutMode: 'fitRows'
        });

        $('#search-input').on('input', function () {
            var searchTerm = $(this).val().toLowerCase();
            applyFilters(searchTerm);
        });

        $('#apply-filters').on('click', function () {
            var searchTerm = $('#search-input').val().toLowerCase();

            applyFilters();

        });

        $('#clear-filters').on('click', function () {
            // Limpiar los filtros y actualizar la cuadrícula
            $('input[name="genre"]:checked').prop('checked', false);
            $('input[name="Estado"]:checked').prop('checked', false);
            $('input[name="editoriales"]:checked').prop('checked', false);

            applyFilters();
        });

        function applyFilters(searchTerm) {
            var selectedGenres = [];
            $('input[name="genre"]:checked').each(function () {
                selectedGenres.push($(this).val());
            });
            var selectedEstado = [];
            $('input[name="Estado"]:checked').each(function () {
                selectedEstado.push($(this).val());
            });
            var selectedEditoriales = [];
            $('input[name="editoriales"]:checked').each(function () {
                selectedEditoriales.push($(this).val());
            });


            $grid.isotope({
                filter: function () {
                    var title = $(this).find('p').text().toLowerCase();
                    var genre = $(this).find('p:contains("Género:")').text().toLowerCase().split(':')[1].trim();
                    var genre = $(this).find('.genre').text().toLowerCase();
                    var estado = $(this).find('.estado').text().toLowerCase();
                    var editorial = $(this).find('.editorial').text().toLowerCase();
                    var titleMatch = searchTerm ? title.includes(searchTerm) : true;
                    var genreMatch = selectedGenres.length === 0 || selectedGenres.includes(genre);
                    var estadoMatch = selectedEstado.length === 0 || selectedEstado.includes(estado);
                    var editorialMatch = selectedEditoriales.length === 0 || selectedEditoriales.includes(editorial);
                    return titleMatch && genreMatch && estadoMatch && editorialMatch;
                }
            });
        }
    });


</script>

<script>
    $(document).ready(function () {
        $('.collapse').on('hidden.bs.collapse', function () {
            localStorage.setItem($(this).attr('id'), 'hidden');
        });

        $('.collapse').on('shown.bs.collapse', function () {
            localStorage.setItem($(this).attr('id'), 'shown');
        });

        $('.collapse').each(function () {
            var state = localStorage.getItem($(this).attr('id'));
            if (state === 'shown') {
                $(this).addClass('show');
            }
        });
    });
</script>
</head>

<body style="background-color: #202020; color: #fff;">
    <br>
    <h1 style="text-align: center;">Librería de Mangas</h1>
    <div class="row container-fluid container">
        <div class="col-12 container container-fluid">
            <div class="form-row container container-fluid">
                <div class="col-10 col-md-8 mt-2">
                    <input type="text" class="form-control order-select form-control-lg"
                        style="background-color: rgb(19, 19, 19);border-color: #fff; color: #fff;" id="search-input"
                        placeholder="Buscar por Título, Mangaka, Editorial, Estado o Genero">
                </div>
            </div>
            <br>
            <div class="row container container-fluid">
                <div class="col-2">
                    <button type="button"
                        style="background-color: rgb(19, 19, 19); border-color: #ffffff; color: #fff;  "
                        class="btn btn-primary" data-toggle="collapse" data-target="#genre-filter-form-collapse">Filtros
                        por
                        géneros</button>
                    <div class="collapse" id="genre-filter-form-collapse">
                        <form id="genre-filter-form">
                            {% for genre in genres %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ genre }}" name="genre"
                                    id="{{ genre }}">
                                <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
                            </div>
                            {% endfor %}
                            <br>
                        </form>
                    </div>
                </div>

                <div class="col-2">
                    <button type="button"
                        style="background-color: rgb(19, 19, 19); border-color: #ffffff; color: #fff; "
                        class="btn btn-primary" data-toggle="collapse"
                        data-target="#editorial-filter-form-collapse">Filtros por
                        Editorial</button>
                    <div class="collapse" id="editorial-filter-form-collapse">
                        <form id="editorial-filter-form">
                            {% for editorial in editoriales %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ editorial }}" name="editorial"
                                    id="{{ editorial }}">
                                <label class="form-check-label" for="{{ editorial }}">{{ editorial }}</label>
                            </div>
                            {% endfor %}
                            <br>
                        </form>
                    </div>
                </div>

                <div class="col-2 ">
                    <button type="button"
                        style="background-color: rgb(19, 19, 19); border-color: #ffffff; color: #fff; "
                        class="btn btn-primary" data-toggle="collapse"
                        data-target="#estado-filter-form-collapse">Filtros por
                        Estado</button>
                    <div class="collapse" id="estado-filter-form-collapse">
                        <form id="estado-filter-form">
                            {% for Estado in Estado %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ Estado }}" name="Estado"
                                    id="{{ Estado }}">
                                <label class="form-check-label" for="{{ Estado }}">{{ Estado }}</label>
                            </div>
                            {% endfor %}
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="Col-2 container container-fluid" style="margin-right: 20px;">
                <button type="button" class="btn btn-primary"
                    style="background-color: rgb(19, 19, 19); border-color: #fff; color: #fff;"
                    id="apply-filters">Aplicar
                    Filtros</button>
                <button type="button" class="btn btn-primary"
                    style="background-color: rgb(19, 19, 19); border-color: #fff; color: #fff;"
                    id="clear-filters">Limpiar
                    Filtros</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="grid">
            {% for manga in mangas %}
            <div class="card">
                <a href="{% url 'manga:detalle_capitulos' manga.id %}">
                    <!-- Contenido del manga -->
                    <img src="{{ manga.portada.url }}" alt="{{ manga.nombre_manga }}">
                    <h2 style="color: #fff;">{{ manga.nombre_manga.nombreManga }}</h2>
                    <p>Género: {{ manga.genero }}</p>
                    <p>Editorial: {{ manga.nombre_manga.revista.editoriales }}</p>
                    <p>Mangaka: {{ manga.nombre_manga.mangaka }}</p>
                    <p>Estado: {{ manga.estado }}</p>
                    <!-- Puedes agregar más campos según tus necesidades -->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var $grid = $('.grid').isotope({
                itemSelector: '.card',
                layoutMode: 'fitRows'
            });
            // busqueda
            $('#search-input').on('input', function () {
                var searchTerm = $(this).val().toLowerCase();
                $grid.isotope({
                    filter: function () {
                        var title = $(this).find('h2').text().toLowerCase();
                        var mangaka = $(this).find('p').text().toLowerCase();
                        var editorial = $(this).find('p').text().toLowerCase();
                        var genre = $(this).find('p').text().toLowerCase();

                        return title.indexOf(searchTerm) > -1 || mangaka.indexOf(
                            searchTerm) > -1 || editorial.indexOf(searchTerm) > -1 || genre
                                .indexOf(
                                    searchTerm) > -1;
                    }
                });
            });
        });
    </script>
</body>

</html>
{% endblock %}