{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
      
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>subscripción</title>
        <meta name="trafficjunky-site-verification" content="vnrwaw9t0" />
        <meta name="exoclick-site-verification" content="043e4ac6d429fc45736a2571151745ed">
        <meta name="csrf-token" content="urU5jPKA3HW5bz1XrQhSsSjUuYNtjJn0YjMJ4OSH">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet"
          href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <meta name="msapplication-TileColor" content="#2957ba">
        <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
      
      </head>

      <body style="background-color: #202020; color: #fff;">
   

    <div id="text-container container-fluid">
        
        <h1>Gatsu</h1>
        <p>¡Unete a los marcados! al subscribirte recibiras acceso completo al catalogo de calidad de Gatsu</p>
    </div>

    <div class="container content-align-center" id="paypal-button-container-P-90K84028TJ672810JMVUPETA"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=AY3j_G5TmV3Gb6hy0XkBaKWE4h5Yb6PYlrTBORy07tx6CNcpfDiUnjFo7oXwIuIJhmR0e1csH542vnnu&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
    <script>
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'subscribe'
            },
            createSubscription: function(data, actions) {
                return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-90K84028TJ672810JMVUPETA'
                });
            },
            onApprove: function(data, actions) {
                alert(data.subscriptionID); // You can add optional success message for the subscriber here
            }
        }).render('#paypal-button-container-P-90K84028TJ672810JMVUPETA'); // Renders the PayPal button
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script
      src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/main.js?alt=media&token=ff3947c9-5e68-4be6-8ca1-9bcbc97fa406"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}