{% extends 'index.html' %}
{% block content %}

<h2>Perfil de {{ user.username }}</h2>

<div id="perfil-info">
  <!-- Muestra la información del perfil de forma no editable -->
  <p>Nombre de usuario: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Fecha de nacimiento: {{ user.fecha_nacimiento }}</p>
  <p>Género: {{ user.genero }}</p>
  <!-- Otros campos de perfil... -->

  <button id="editar-btn">Editar perfil</button>
</div>

<form id="perfil-form" method="post" enctype="multipart/form-data" style="display: none;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar cambios</button>
  <button type="button" id="cancelar-btn">Cancelar</button>
</form>

<script>
  // Script para alternar entre la información no editable y el formulario editable
  const perfilInfo = document.getElementById('perfil-info');
  const perfilForm = document.getElementById('perfil-form');
  const editarBtn = document.getElementById('editar-btn');
  const cancelarBtn = document.getElementById('cancelar-btn');

  let cambiosNoGuardados = false;

  // Función para establecer cambios no guardados
  function establecerCambiosNoGuardados() {
    cambiosNoGuardados = true;
  }

  // Función para reiniciar cambios no guardados
  function reiniciarCambiosNoGuardados() {
    cambiosNoGuardados = false;
  }

  // Mostrar formulario de edición
  editarBtn.addEventListener('click', function() {
    copiarPerfilAlFormulario();
    perfilInfo.style.display = 'none';
    perfilForm.style.display = 'block';
    reiniciarCambiosNoGuardados();
  });

  // Volver a la previsualización
  cancelarBtn.addEventListener('click', function() {
    if (cambiosNoGuardados) {
      if (confirm('Tienes cambios no guardados. ¿Estás seguro de cancelar?')) {
        perfilForm.reset();  // Reinicia el formulario si hay cambios no guardados
        perfilForm.style.display = 'none';
        perfilInfo.style.display = 'block';
        reiniciarCambiosNoGuardados();
      }
    } else {
      perfilForm.style.display = 'none';
      perfilInfo.style.display = 'block';
    }
  });

  // Advertencia si hay cambios no guardados al intentar salir de la página
  window.addEventListener('beforeunload', function(event) {
    if (cambiosNoGuardados) {
      const mensaje = 'Tienes cambios no guardados. ¿Estás seguro de salir?';
      event.returnValue = mensaje;
      return mensaje;
    }
  });

  // Función para copiar la información del perfil al formulario
  function copiarPerfilAlFormulario() {
    const camposPerfil = perfilInfo.querySelectorAll('p');
    camposPerfil.forEach((campo) => {
      const nombreCampo = campo.textContent.split(':')[0].trim();
      const inputCampo = perfilForm.querySelector(`[name="${nombreCampo}"]`);
      if (inputCampo) {
        inputCampo.value = campo.textContent.split(':')[1].trim();
      }
    });
  }
</script>
{% endblock %}