{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <meta name="exoclick-site-verification" content="043e4ac6d429fc45736a2571151745ed">
    <meta name="trafficjunky-site-verification" content="vnrwaw9t0" />
    <meta name="csrf-token" content="urU5jPKA3HW5bz1XrQhSsSjUuYNtjJn0YjMJ4OSH">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Descubre</title>
    <meta name="msapplication-TileColor" content="#2957ba">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var myCollapse = new bootstrap.Collapse(document.getElementById('books-genders'), {
        toggle: false
    });

    document.getElementById('heading-books-genders').addEventListener('click', function () {
        myCollapse.toggle();
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var myCollapse = new bootstrap.Collapse(document.getElementById('books-filters'), {
        toggle: false
    });

    document.getElementById('heading-books-filters').addEventListener('click', function () {
        myCollapse.toggle();
    });
});
</script>
<body style="background-color: #202020; color: #fff;">
    <br>
    <hr>
        <div id="app" class="pb-5">
            <header>
            </header>
            <main role="main" class="container-fluid">
                <div class="row">
                    <div class="col m-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-10 col-md-8 mt-2">
                                <input id="title_item" class="form-control order-select form-control-lg"
                                    placeholder="Buscar..." name="title" type="text" style="background-color: rgb(19, 19, 19); color: #fff;">
                            </div>
                            <div class="col-8 col-md-2 mt-2" >
                                <select id="order_field_select"
                                    class="order-select form-control form-control-lg extendSelect"
                                    data-btn-class="btn-primary btn-block btn-lg" style="background-color: rgb(19, 19, 19); color: #fff;">
                                    <option style="background-color: rgb(19, 19, 19); color: #fff;" value="title" selected>Título</option>
                                    <option style="background-color: rgb(19, 19, 19); color: #fff;" value="author">Autor</option>
                                    <option style="background-color: rgb(19, 19, 19); color: #fff;" value="company">Compañia</option>
                                </select>
                            </div>
                            <div class="col-4 col-md-1 mt-2 ">
                                <button id="search_submit" class="btn btn-success btn-lg btn-block" style="background-color: rgb(0, 0, 0); color: #fff; border-color: #fff;"><i
                                        class="fas fa-search fa-fw" style="background-color: rgb(0, 0, 0); color: #fff;"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-3">
                        <form method="GET" action="https://visortmo.com/library" accept-charset="UTF-8"
                            id="form-filters">
                            <input id="order_item" name="order_item" type="hidden" value="likes_count">
                            <input id="order_dir" name="order_dir" type="hidden" value="desc">
                            <input id="title" name="title" type="hidden">
                            <input name="_pg" type="hidden" value="1">
                            <input id="filter_by" name="filter_by" type="hidden" value="title">

                            <div class="card mt-2">
                                <div class="card-header" id="heading-books-filters" style="background-color: rgb(19, 19, 19); color: #fff;">
                                    <h3 class="collapsible" data-toggle="collapse" data-target="#books-filters"
                                        aria-controls="books-filters">
                                        <i class="indicator fas fa-chevron-right pull-right"></i>
                                        <button class="btn btn-link" type="button" style="color: #fff;">Filtros</button>
                                    </h3>
                                </div>
                                <div id="books-filters" class="collapse" aria-labelledby="heading-books-filters">
                                    <div class="card-body" style="background-color: rgb(19, 19, 19); color: #fff;">
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="demography" class="form-label">Estado</label>
                                            </div>
                                            <div class="col">
                                                <select name="demography" id="demography"
                                                    class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block" style="background-color: rgb(54, 54, 54); color: #fff;">
                                                    <option value="">Ver todo</option>
                                                    <option value="publishing">Publicándose</option>
                                                    <option value="ended">Finalizado</option>
                                                    <option value="cancelled">Cancelado</option>
                                                    <option value="on_hold">Pausado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <hr id="status_filter_line" style="display: none;">
                                        <hr id="translation_status_filter_line" style="display: none;">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-header" id="heading-books-genders" style="background-color: rgb(19, 19, 19); color: #fff;">

                                    <h3 class="collapsible" data-toggle="collapse" data-target="#books-genders" style="background-color: rgb(19, 19, 19); color: #fff;"
                                        aria-controls="books-genders">
                                        <i class="indicator fas fa-chevron-right pull-right"></i>

                                        <button class="btn btn-link collapsed" type="button" style="color: #fff;">Géneros</button>

                                    </h3>
                                </div>

                                <div id="books-genders" class="collapse" aria-labelledby="heading-books-genders">
                                    <div class="card-body" style="background-color: rgb(19, 19, 19); color: #fff;">
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_1" value="1">
                                                <label class="custom-control-label" for="gender_1">Acción</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_2" value="2">
                                                <label class="custom-control-label" for="gender_2">Aventura</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_3" value="3">
                                                <label class="custom-control-label" for="gender_3">Ciencia Ficción</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_4" value="4">
                                                <label class="custom-control-label" for="gender_4">Comedia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_5" value="5">
                                                <label class="custom-control-label" for="gender_5">Drama</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_6" value="6">
                                                <label class="custom-control-label" for="gender_6">Fantasía</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_7" value="7">
                                                <label class="custom-control-label" for="gender_7">Harem</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_8" value="8">
                                                <label class="custom-control-label" for="gender_8">Horror</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_8" value="8">
                                                <label class="custom-control-label" for="gender_8">Mecha</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg mt-2" style="background-color: rgb(0, 0, 0); color: #fff; border-color: #fff;" type="#" ><i
                                    class="fas fa-filter fa-fw"></i> Aplicar filtros</button>
                        </form>

                        <div class="pbl pbl_lateral_bottom text-center">

                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-9">
                        <div class="form-row mt-2">
                            <div class="col-12 col-md-9 text-left"><span class="form-label">Ordenar por:</span></div>
                            <div class="col-2 col-md-4">
                                <select id="order_item_select" class="order-select form-control extendSelect"
                                    data-btn-class="btn-default btn-block" style="background-color: rgb(19, 19, 19); color: #fff;">
                                    <option value="likes_count" selected>Me gusta</option>
                                    <option value="alphabetically">Alfabético</option>
                                    <option value="score">Puntuación</option>
                                    <option value="creation">Creación</option>
                                    <option value="release_date">Fecha estreno</option>
                                    <option value="num_chapters">Núm. Capítulos</option>
                                </select>
                            </div>
                            <div class="col-2 col-md-4">
                                <select id="order_dir_select" class="order-select form-control extendSelect"
                                    data-btn-class="btn-default btn-block" style="background-color: rgb(19, 19, 19); color: #fff;">
                                    <option value="asc">Ascendente</option>
                                    <option value="desc" selected>Descendente</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <style>
                                .text-truncate{
                                    color: #fff;
                                }
                                .span{
                                    color: #fff;
                                }
                                .demography shounen{
                                    color:#fff;

                                }
                                .thumbnail-image {
                                    color: #fff;
                                    max-width: 100%;
                                    max-height: 100%;
                                    width: auto;
                                    height: auto;
                                    object-fit: contain;
                                    max-width: 150px;
                                    /* Set your desired maximum width */
                                    max-height: 220px;
                                    /* Set your desired maximum height */
                                }
                            </style>
                            <hr>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9999">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/DBS.webp?alt=media&token=4f68035f-09ea-4525-8aee-8c4f629c45e1"
                                        alt="Dragon Ball Super" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Dragon Ball Super">Dragon Ball Super</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.69</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9997">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Chainsaw%20Man.jpg?alt=media&token=1785251c-7828-4716-b24b-35752d363715"
                                        alt="Chainsaw Man" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Chainsaw Man">Chainsaw Man</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>8.90</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography seinen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9996">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Kagurabachi.jpg?alt=media&token=429e59e5-3ef5-4cb1-aca2-3996d82af370"
                                        alt="Kugabarachi" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Kugabarachi">Kugabarachi</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.33</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shoujo"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9997">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Chainsaw%20Man.jpg?alt=media&token=1785251c-7828-4716-b24b-35752d363715"
                                        alt="Chainsaw Man" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Chainsaw Man">Chainsaw Man</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>8.90</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography seinen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                        <div class="row">
                            <div class="col m-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-auto text-center">
                                <nav aria-label="front.search_result_pgs">
                                    <nav role="navigation" aria-label="Pagination Navigation"
                                        class="flex justify-between"  >
                                        <hr style="color: #fff;">
                                        <span
                                            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md" style="background-color: rgb(19, 19, 19); color: black;">
                                            &laquo; Anterior
                                        </span>

                                        <a href="#" rel="next"  style="background-color: rgb(19, 19, 19); color: black;"
                                            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                            Siguiente &raquo;
                                        </a>
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}