{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <meta name="exoclick-site-verification" content="043e4ac6d429fc45736a2571151745ed">
    <meta name="trafficjunky-site-verification" content="vnrwaw9t0" />
    <meta name="csrf-token" content="urU5jPKA3HW5bz1XrQhSsSjUuYNtjJn0YjMJ4OSH">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Styles.css?alt=media&token=5036f23e-a456-4dc4-9b81-7da2f7a40599">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Descubre</title>
    <meta name="msapplication-TileColor" content="#2957ba">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var myCollapse = new bootstrap.Collapse(document.getElementById('books-genders'), {
        toggle: false
    });

    document.getElementById('heading-books-genders').addEventListener('click', function () {
        myCollapse.toggle();
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var myCollapse = new bootstrap.Collapse(document.getElementById('books-filters'), {
        toggle: false
    });

    document.getElementById('heading-books-filters').addEventListener('click', function () {
        myCollapse.toggle();
    });
});
</script>
<body style="background-color: #202020; color: #fff;">
    <h1>Descubre</h2>
        <div id="app" class="pb-5">
            <header>
            </header>
            <main role="main" class="container-fluid">
                <div class="row">
                    <div class="col m-auto">

                        <div class="pbl pbl_top text-center col-12 col-md-8 offset-md-2">
                            <div class="col-12 col-md-4 offset-md-4">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-10 col-md-8 mt-2">
                                <input id="title_item" class="form-control order-select form-control-lg"
                                    placeholder="Buscar..." name="title" type="text">
                            </div>
                            <div class="col-8 col-md-2 mt-2">
                                <select id="order_field_select"
                                    class="order-select form-control form-control-lg extendSelect"
                                    data-btn-class="btn-primary btn-block btn-lg">
                                    <option value="title" selected>Título</option>
                                    <option value="author">Autor</option>
                                    <option value="company">Compañia</option>
                                </select>
                            </div>
                            <div class="col-4 col-md-1 mt-2">
                                <button id="search_submit" class="btn btn-success btn-lg btn-block"><i
                                        class="fas fa-search fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-3">
                        <form method="GET" action="https://visortmo.com/library" accept-charset="UTF-8"
                            id="form-filters">
                            <input id="order_item" name="order_item" type="hidden" value="likes_count">
                            <input id="order_dir" name="order_dir" type="hidden" value="desc">
                            <input id="title" name="title" type="hidden">
                            <input name="_pg" type="hidden" value="1">
                            <input id="filter_by" name="filter_by" type="hidden" value="title">

                            <div class="card mt-2">
                                <div class="card-header" id="heading-books-filters">
                                    <h3 class="collapsible" data-toggle="collapse" data-target="#books-filters"
                                        aria-controls="books-filters">
                                        <i class="indicator fas fa-chevron-right pull-right"></i>
                                        <button class="btn btn-link" type="button">Filtros</button>
                                    </h3>
                                </div>
                                <div id="books-filters" class="collapse" aria-labelledby="heading-books-filters">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="demography" class="form-label">Demograf&iacute;a</label>
                                            </div>
                                            <div class="col">
                                                <select name="demography" id="demography"
                                                    class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block">
                                                    <option value="">Ver todo</option>
                                                    <option value="seinen">Seinen</option>
                                                    <option value="shoujo">Shoujo</option>
                                                    <option value="shounen">Shounen</option>
                                                    <option value="josei">Josei</option>
                                                    <option value="kodomo">Kodomo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row" id="status_filter" style="display: none;">
                                            <div class="col">
                                                <label for="status" class="form-label">Estado</label>
                                            </div>
                                            <div class="col">
                                                <select name="status" id="status" class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block">
                                                    <option value="">Ver todo</option>
                                                    <option value="publishing">Publicándose</option>
                                                    <option value="ended">Finalizado</option>
                                                    <option value="cancelled">Cancelado</option>
                                                    <option value="on_hold">Pausado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr id="status_filter_line" style="display: none;">
                                        <div class="form-row" id="translation_status_filter" style="display: none;">
                                            <div class="col">
                                                <label for="status" class="form-label">Traducciones</label>
                                            </div>
                                            <div class="col">
                                                <select name="translation_status" id="translation_status"
                                                    class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block">
                                                    <option value="">Ver todo</option>
                                                    <option value="active">Activo</option>
                                                    <option value="finished">Finalizado</option>
                                                    <option value="abandoned">Abandonado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr id="translation_status_filter_line" style="display: none;">
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="webcomic" class="form-label">Webcomic</label>
                                            </div>
                                            <div class="col">
                                                <select name="webcomic" id="webcomic" class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block">
                                                    <option value="">Ver todo</option>
                                                    <option value="true">Si</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="yonkoma" class="form-label">Yonkoma</label>
                                            </div>
                                            <div class="col">
                                                <select name="yonkoma" id="yonkoma" class="form-control extendSelect"
                                                    data-btn-class="btn-default btn-block">
                                                    <option value="">Ver todo</option>
                                                    <option value="true">Si</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-header" id="heading-books-genders">

                                    <h3 class="collapsible" data-toggle="collapse" data-target="#books-genders"
                                        aria-controls="books-genders">
                                        <i class="indicator fas fa-chevron-right pull-right"></i>

                                        <button class="btn btn-link collapsed" type="button">Géneros</button>

                                    </h3>
                                </div>

                                <div id="books-genders" class="collapse" aria-labelledby="heading-books-genders">
                                    <div class="card-body">
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_1" value="1">
                                                <label class="custom-control-label" for="gender_1">Acción</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_2" value="2">
                                                <label class="custom-control-label" for="gender_2">Aventura</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_3" value="3">
                                                <label class="custom-control-label" for="gender_3">Comedia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_4" value="4">
                                                <label class="custom-control-label" for="gender_4">Drama</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_5" value="5">
                                                <label class="custom-control-label" for="gender_5">Recuentos de la
                                                    vida</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_6" value="6">
                                                <label class="custom-control-label" for="gender_6">Ecchi</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_7" value="7">
                                                <label class="custom-control-label" for="gender_7">Fantasia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_8" value="8">
                                                <label class="custom-control-label" for="gender_8">Magia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_9" value="9">
                                                <label class="custom-control-label" for="gender_9">Sobrenatural</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_10" value="10">
                                                <label class="custom-control-label" for="gender_10">Horror</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_11" value="11">
                                                <label class="custom-control-label" for="gender_11">Misterio</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_12" value="12">
                                                <label class="custom-control-label" for="gender_12">Psicológico</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_13" value="13">
                                                <label class="custom-control-label" for="gender_13">Romance</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_14" value="14">
                                                <label class="custom-control-label" for="gender_14">Ciencia
                                                    Ficción</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_15" value="15">
                                                <label class="custom-control-label" for="gender_15">Thriller</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_16" value="16">
                                                <label class="custom-control-label" for="gender_16">Deporte</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_17" value="17">
                                                <label class="custom-control-label" for="gender_17">Girls Love</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_18" value="18">
                                                <label class="custom-control-label" for="gender_18">Boys Love</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_19" value="19">
                                                <label class="custom-control-label" for="gender_19">Harem</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_20" value="20">
                                                <label class="custom-control-label" for="gender_20">Mecha</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_21" value="21">
                                                <label class="custom-control-label"
                                                    for="gender_21">Supervivencia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_22" value="22">
                                                <label class="custom-control-label"
                                                    for="gender_22">Reencarnación</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_23" value="23">
                                                <label class="custom-control-label" for="gender_23">Gore</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_24" value="24">
                                                <label class="custom-control-label" for="gender_24">Apocalíptico</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_25" value="25">
                                                <label class="custom-control-label" for="gender_25">Tragedia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_26" value="26">
                                                <label class="custom-control-label" for="gender_26">Vida Escolar</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_28" value="28">
                                                <label class="custom-control-label" for="gender_28">Militar</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_29" value="29">
                                                <label class="custom-control-label" for="gender_29">Policiaco</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_30" value="30">
                                                <label class="custom-control-label" for="gender_30">Crimen</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_31" value="31">
                                                <label class="custom-control-label" for="gender_31">Superpoderes</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_32" value="32">
                                                <label class="custom-control-label" for="gender_32">Vampiros</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_33" value="33">
                                                <label class="custom-control-label" for="gender_33">Artes
                                                    Marciales</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_34" value="34">
                                                <label class="custom-control-label" for="gender_34">Samurái</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_36" value="36">
                                                <label class="custom-control-label" for="gender_36">Realidad
                                                    Virtual</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_37" value="37">
                                                <label class="custom-control-label" for="gender_37">Ciberpunk</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_38" value="38">
                                                <label class="custom-control-label" for="gender_38">Musica</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_39" value="39">
                                                <label class="custom-control-label" for="gender_39">Parodia</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_41" value="41">
                                                <label class="custom-control-label" for="gender_41">Demonios</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_43" value="43">
                                                <label class="custom-control-label" for="gender_43">Extranjero</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_44" value="44">
                                                <label class="custom-control-label" for="gender_44">Niños</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_45" value="45">
                                                <label class="custom-control-label" for="gender_45">Realidad</label>
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input gender-checkbox"
                                                    name="genders[]" id="gender_47" value="47">
                                                <label class="custom-control-label" for="gender_47">Guerra</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg mt-2" type="submit"><i
                                    class="fas fa-filter fa-fw"></i> Aplicar filtros</button>
                        </form>

                        <div class="pbl pbl_lateral_bottom text-center">

                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-9">
                        <div class="form-row mt-2">
                            <div class="col-12 col-md-9 text-left"><span class="form-label">Ordenar por:</span></div>
                            <div class="col-2 col-md-4">
                                <select id="order_item_select" class="order-select form-control extendSelect"
                                    data-btn-class="btn-default btn-block">
                                    <option value="likes_count" selected>Me gusta</option>
                                    <option value="alphabetically">Alfabético</option>
                                    <option value="score">Puntuación</option>
                                    <option value="creation">Creación</option>
                                    <option value="release_date">Fecha estreno</option>
                                    <option value="num_chapters">Núm. Capítulos</option>
                                </select>
                            </div>
                            <div class="col-2 col-md-4">
                                <select id="order_dir_select" class="order-select form-control extendSelect"
                                    data-btn-class="btn-default btn-block">
                                    <option value="asc">Ascendente</option>
                                    <option value="desc" selected>Descendente</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <style>
                                .thumbnail-image {
                                    max-width: 100%;
                                    max-height: 100%;
                                    width: auto;
                                    height: auto;
                                    object-fit: contain;
                                    max-width: 150px;
                                    /* Set your desired maximum width */
                                    max-height: 220px;
                                    /* Set your desired maximum height */
                                }
                            </style>
                            <hr>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9999">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/DBS.webp?alt=media&token=4f68035f-09ea-4525-8aee-8c4f629c45e1"
                                        alt="Dragon Ball Super" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Dragon Ball Super">Dragon Ball Super</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.69</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9997">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Chainsaw%20Man.jpg?alt=media&token=1785251c-7828-4716-b24b-35752d363715"
                                        alt="Chainsaw Man" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Chainsaw Man">Chainsaw Man</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>8.90</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography seinen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9996">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Kagurabachi.jpg?alt=media&token=429e59e5-3ef5-4cb1-aca2-3996d82af370"
                                        alt="Kugabarachi" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Kugabarachi">Kugabarachi</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.33</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shoujo"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9997">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Chainsaw%20Man.jpg?alt=media&token=1785251c-7828-4716-b24b-35752d363715"
                                        alt="Chainsaw Man" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Chainsaw Man">Chainsaw Man</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>8.90</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography seinen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9996">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Kagurabachi.jpg?alt=media&token=429e59e5-3ef5-4cb1-aca2-3996d82af370"
                                        alt="Kugabarachi" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Kugabarachi">Kugabarachi</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.33</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shoujo"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9999">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/DBS.webp?alt=media&token=4f68035f-09ea-4525-8aee-8c4f629c45e1"
                                        alt="Dragon Ball Super" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Dragon Ball Super">Dragon Ball Super</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.69</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9997">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Chainsaw%20Man.jpg?alt=media&token=1785251c-7828-4716-b24b-35752d363715"
                                        alt="Chainsaw Man" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Chainsaw Man">Chainsaw Man</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>8.90</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography seinen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9996">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/Kagurabachi.jpg?alt=media&token=429e59e5-3ef5-4cb1-aca2-3996d82af370"
                                        alt="Kugabarachi" class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Kugabarachi">Kugabarachi</h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>9.33</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shoujo"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                            <div class="element col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 d-flex"
                                data-identifier="9998">
                                <a href="#">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gatsu-fbddf.appspot.com/o/boruto.jpg?alt=media&token=1542f1c8-a108-4153-b9a1-ffb3943fa044"
                                        alt="Boruto Two Blue " class="thumbnail-image">
                                    <div class="thumbnail-title">
                                        <h4 class="text-truncate" title="Boruto Two Blue ">Boruto Two Blue </h4>
                                    </div>
                                    <span class="score"><i class="fas fa-star fa-fw"></i><span>7.85</span></span>
                                    <span class="book-type badge badge-manga">MANGA</span>
                                    <span class="demography shounen"
                                        title="Shounen: dirigido a chicos adolescentes">Shounen</span>
                                </a>
                            </div>
                        <div class="row">
                            <div class="col m-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-auto text-center">
                                <nav aria-label="front.search_result_pgs">
                                    <nav role="navigation" aria-label="Pagination Navigation"
                                        class="flex justify-between">
                                        <hr>
                                        <span
                                            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md">
                                            &laquo; Anterior
                                        </span>

                                        <a href="#" rel="next"
                                            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                            Siguiente &raquo;
                                        </a>
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}